@tailwind base;
@tailwind components;
@tailwind utilities;

er base {
  * {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-950 text-white;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
